# This is a basic workflow to help you get started with Actions

name: CI
on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Upgrade apt and install utils
        run: |
          echo "START Upgrade"

          sudo apt update && sudo apt upgrade -y && apt autoremove -y
          apt-mark showmanual
          
          echo "END Upgrade"

      - name: Install common build utils
        run: |
          echo "START Upgrade"

          sudo apt install -y wget unzip git dpkg-dev build-essential debhelper automake1.11 cdbs check cvs subversion doxygen
          apt-mark showmanual
          
          echo "END Upgrade"

      - name: Clone repo
        run: |
          echo "START Clone"
          
          git clone https://github.com/samukhin/enlightenment17
          cd enlightenment17
          ls -la
          
          echo "END Clone"
          
      - name: Wget components
        run: |
          set -x
          echo "START wget"
          
          wget http://distfiles.macports.org/eina/eina-1.7.10.tar.bz2
          wget http://distfiles.macports.org/eet/eet-1.7.10.tar.bz2
          wget http://distfiles.macports.org/evas/evas-1.7.10.tar.bz2
          wget http://distfiles.macports.org/ecore/ecore-1.7.10.tar.bz2
          wget http://distfiles.macports.org/embryo/embryo-1.7.10.tar.bz2
          wget https://distro.ibiblio.org/slitaz/sources/packages-cooking/e/eio-1.7.10.tar.bz2
          wget http://distfiles.macports.org/edje/edje-1.7.10.tar.bz2
          wget https://distro.ibiblio.org/slitaz/sources/packages-cooking/e/emotion-1.7.10.tar.bz2
          wget http://distfiles.macports.org/e_dbus/e_dbus-1.7.10.tar.bz2
          wget https://distro.ibiblio.org/slitaz/sources/packages-cooking/e/ethumb-1.7.10.tar.bz2
          wget http://distfiles.macports.org/efreet/efreet-1.7.10.tar.bz2
          wget https://distro.ibiblio.org/slitaz/sources/packages-cooking/e/elementary-1.7.10.tar.bz2
          wget https://github.com/borisfaure/terminology/archive/refs/tags/v0.1.0.zip
          wget https://github.com/borisfaure/terminology/archive/refs/tags/v0.2.0.zip
          wget https://ppa.launchpadcontent.net/efl/trunk/ubuntu/pool/main/t/terminology/terminology_0.3.0-1ppa2~saucy.tar.gz
          wget https://distro.ibiblio.org/slitaz/sources/packages-cooking/e/eeze-1.7.10.tar.bz2
          wget https://distro.ibiblio.org/slitaz/sources/packages-cooking/e/evas_generic_loaders-1.7.10.tar.bz2
          wget https://download.enlightenment.org/rel/libs/evas_generic_loaders/evas_generic_loaders-1.17.0.tar.xz
          wget https://distro.ibiblio.org/slitaz/sources/packages-cooking/e/enlightenment-0.17.6.tar.bz2

          tar xf eina-1.7.10.tar.bz2
          tar xf eet-1.7.10.tar.bz2
          tar xf evas-1.7.10.tar.bz2
          tar xf ecore-1.7.10.tar.bz2
          tar xf embryo-1.7.10.tar.bz2
          tar xf eio-1.7.10.tar.bz2
          tar xf edje-1.7.10.tar.bz2
          tar xf emotion-1.7.10.tar.bz2
          tar xf e_dbus-1.7.10.tar.bz2
          tar xf ethumb-1.7.10.tar.bz2
          tar xf efreet-1.7.10.tar.bz2
          tar xf elementary-1.7.10.tar.bz2
          unzip v0.1.0.zip
          unzip v0.2.0.zip
          tar xf terminology_0.3.0-1ppa2~saucy.tar.gz
          tar xf eeze-1.7.10.tar.bz2
          tar xf evas_generic_loaders-1.7.10.tar.bz2
          tar xf evas_generic_loaders-1.17.0.tar.xz
          tar xf enlightenment-0.17.6.tar.bz2

          cp -r enlightenment17/debian-eina eina-1.7.10/debian
          cp -r enlightenment17/debian-eet eet-1.7.10/debian
          cp -r enlightenment17/debian-evas evas-1.7.10/debian
          cp -r enlightenment17/debian-ecore ecore-1.7.10/debian
          cp -r enlightenment17/debian-embryo embryo-1.7.10/debian
          cp -r enlightenment17/debian-eio eio-1.7.10/debian
          cp -r enlightenment17/debian-edje edje-1.7.10/debian
          cp -r enlightenment17/debian-emotion emotion-1.7.10/debian
          cp -r enlightenment17/debian-edbus e_dbus-1.7.10/debian
          cp -r enlightenment17/debian-ethumb ethumb-1.7.10/debian
          cp -r enlightenment17/debian-eina eina-1.7.10/debian
          cp -r enlightenment17/debian-efreet efreet-1.7.10/debian
          cp -r enlightenment17/debian-elementary elementary-1.7.10/debian
          
          cp -r enlightenment17/debian-terminology terminology-0.1.0/debian
          
          cp -r enlightenment17/debian-terminology terminology-0.2.0/debian
          cd terminology-0.2.0
          git apply ../enlightenment17/terminology020-patches/terminology020_0.patch
          git apply ../enlightenment17/terminology020-patches/terminology020_1.patch
          cd ../
          
          rm -rf terminology-0.3.0/debian
          cp -r enlightenment17/debian-terminology terminology-0.3.0/debian
          
          cp -r enlightenment17/debian-eeze eeze-1.7.10/debian
          
          cp -r enlightenment17/debian-evas_generic_loaders evas_generic_loaders-1.7.10/debian
          echo '02_fix.patch' >> evas_generic_loaders-1.7.10/debian/patches/series

          cd evas_generic_loaders-1.17.0
          git apply ../enlightenment17/evas_generic_loaders17-patches/evas_generic_loaders-1.17.0.patch
          cd ../
          
          cp -r enlightenment17/debian-enlightenment176 enlightenment-0.17.6/debian

          ls -la
        
          echo "END wget"

      - name: Build eina
        run: |
          set -x
          echo "START build"
          
          cd eina-1.7.10
          dpkg-buildpackage -us -uc -b
          
          echo "END build"

      - name: Install eina
        run: |
          set -x
          echo "START Install"

          sudo apt-get install -y ../*.deb
          
          echo "END Install"

      - name: Install eet deps
        run: |
          set -x
          echo "START install"

          sudo apt-get install -y libjpeg-turbo8-dev
          
          echo "END install"
          
      - name: Build eet
        run: |
          set -x
          echo "START build"
          
          cd eet-1.7.10
          dpkg-buildpackage -us -uc -b
          
          echo "END build"

      - name: Install eet
        run: |
          set -x
          echo "START Install"

          sudo apt-get install -y ../*.deb
          
          echo "END Install"

      - name: Install evas deps
        run: |
          set -x
          echo "START install"

          sudo apt-get install -y libfreetype6-dev libpng-dev libx11-dev libxrender-dev x11proto-xext-dev libtiff-dev libgif-dev libfontconfig1-dev libglu1-mesa-dev mesa-common-dev libxpm-dev librsvg2-dev libfribidi-dev
          
          echo "END install"   

      - name: Build evas
        run: |
          set -x
          echo "START build"
          
          cd evas-1.7.10
          dpkg-buildpackage -us -uc -b
          
          echo "END build"     

      - name: Install evas
        run: |
          set -x
          echo "START Install"

          sudo apt-get install -y ../*.deb
          
          echo "END Install"

      - name: Install ecore deps
        run: |
          set -x
          echo "START install"

          sudo apt-get install -y libcurl4-gnutls-dev libxcursor-dev libxss-dev libxinerama-dev libxrandr-dev libxcomposite-dev libxdamage-dev libxtst-dev
          
          echo "END install"   

      - name: Build ecore
        run: |
          set -x
          echo "START build"
          
          cd ecore-1.7.10
          dpkg-buildpackage -us -uc -b
          
          echo "END build"   

      - name: Install ecore
        run: |
          set -x
          echo "START Install"

          sudo apt-get install -y ../*.deb
          
          echo "END Install"

      - name: Build embryo
        run: |
          set -x
          echo "START build"
          
          cd embryo-1.7.10
          dpkg-buildpackage -us -uc -b
          
          echo "END build"

      - name: Install embryo
        run: |
          set -x
          echo "START Install"

          sudo apt-get install -y ../*.deb
          
          echo "END Install"

      - name: Build eio
        run: |
          set -x
          echo "START build"
          
          cd eio-1.7.10
          dpkg-buildpackage -us -uc -b
          
          echo "END build"

      - name: Install eio
        run: |
          set -x
          echo "START Install"

          sudo apt-get install -y ../*.deb
          
          echo "END Install"

      - name: Install edje deps
        run: |
          set -x
          echo "START install"

          sudo apt-get install -y liblua5.1-0-dev

          echo "END install"

      - name: Build edje
        run: |
          set -x
          echo "START build"
          
          cd edje-1.7.10
          dpkg-buildpackage -us -uc -b
          
          echo "END build"

      - name: Install edje
        run: |
          set -x
          echo "START Install"

          sudo apt-get install -y ../*.deb
          
          echo "END Install"

      - name: Install emotion deps
        run: |
          set -x
          echo "START install"

          sudo apt-get install -y libgstreamer-plugins-base1.0-dev libxine2-dev
          
          echo "END install"

      - name: Build emotion
        run: |
          set -x
          echo "START build"
          
          cd emotion-1.7.10
          dpkg-buildpackage -us -uc -b
          
          echo "END build"

      - name: Install emotion
        run: |
          set -x
          echo "START Install"

          sudo apt-get install -y ../*.deb
          
          echo "END Install"

      - name: Install edbus deps
        run: |
          set -x
          echo "START install"

          sudo apt-get install -y libdbus-1-dev
          
          echo "END install"

      - name: Build edbus
        run: |
          set -x
          echo "START build"
          
          cd e_dbus-1.7.10
          dpkg-buildpackage -us -uc -b
          
          echo "END build"

      - name: Install edbus
        run: |
          set -x
          echo "START Install"

          sudo apt-get install -y ../*.deb
          
          echo "END Install"

      - name: Install ethumb deps
        run: |
          set -x
          echo "START install"

          sudo apt-get install -y libexif-dev
          
          echo "END install"

      - name: Build ethumb
        run: |
          set -x
          echo "START build"
          
          cd ethumb-1.7.10
          dpkg-buildpackage -us -uc -b
          
          echo "END build"

      - name: Install ethumb
        run: |
          set -x
          echo "START Install"

          sudo apt-get install -y ../*.deb
          
          echo "END Install"

      - name: Build efreet
        run: |
          set -x
          echo "START build"
          
          cd efreet-1.7.10
          dpkg-buildpackage -us -uc -b
          
          echo "END build"

      - name: Install efreet
        run: |
          set -x
          echo "START Install"

          sudo apt-get install -y ../*.deb
          
          echo "END Install"

      - name: Build elementary
        run: |
          set -x
          echo "START build"
          
          cd elementary-1.7.10
          dpkg-buildpackage -us -uc -b
          
          echo "END build"

      - name: Install elementary
        run: |
          set -x
          echo "START Install"

          sudo apt-get install -y ../*.deb
          
          echo "END Install"

      - name: Build terminology-01
        run: |
          set -x
          echo "START build"
          
          cd terminology-0.1.0
          ./autogen.sh
          dpkg-buildpackage -us -uc -b
          
          echo "END build"

      - name: Build terminology-02
        run: |
          set -x
          echo "START build"
          
          cd terminology-0.2.0
          ./autogen.sh
          dpkg-buildpackage -us -uc -b
          
          echo "END build"

      - name: Build terminology-03
        run: |
          set -x
          echo "START build"
          
          cd terminology-0.3.0
          ./autogen.sh
          dpkg-buildpackage -us -uc -b
          
          echo "END build"

      - name: Install terminology
        run: |
          set -x
          echo "START Install"

          sudo apt-get install -y ../*.deb
          
          echo "END Install"

      - name: Build eeze
        run: |
          set -x
          echo "START build"
          
          cd eeze-1.7.10
          dpkg-buildpackage -us -uc -b
          
          echo "END build"

      - name: Install eeze
        run: |
          set -x
          echo "START Install"

          sudo apt-get install -y ../*.deb
          
          echo "END Install"

      - name: Install evas-generic-loaders deps
        run: |
          set -x
          echo "START install"

          sudo apt-get install -y libspectre-dev libpoppler-dev libpoppler-private-dev
          
          echo "END install"

      - name: Build evas-generic-loaders
        run: |
          set -x
          echo "START build"
          
          cd evas_generic_loaders-1.7.10
          dpkg-buildpackage -us -uc -b
          
          echo "END build"

      - name: Build evas-generic-loaders17
        run: |
          set -x
          echo "START build"
          
          cd evas_generic_loaders-1.17.0
          ./configure
          make || true
          #dpkg-buildpackage -us -uc -b
          
          echo "END build"

      - name: Install evas-generic-loaders
        run: |
          set -x
          echo "START Install"

          sudo apt-get install -y ../*.deb
          
          echo "END Install"

      - name: Install e17 deps
        run: |
          set -x
          echo "START build"

          sudo apt-get install -y libasound2-dev libpam0g-dev libxcb-shape0-dev libxcb-keysyms1-dev
          
          echo "END build"

      - name: Build e17
        run: |
          set -x
          echo "START build"
          
          cd enlightenment-0.17.6
          dpkg-buildpackage -us -uc -b
          
          echo "END build"

      - name: Install e17
        run: |
          set -x
          echo "START Install"

          sudo apt-get install -y ../*.deb
          
          echo "END Install"
