# This is a basic workflow to help you get started with Actions

name: CI
on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Upgrade apt and install utils
        run: |
          echo "START Upgrade"

          sudo apt update && sudo apt upgrade -y
          sudo apt install -y wget unzip git dpkg-dev build-essential debhelper automake1.11 cdbs check subversion doxygen
          apt-mark showmanual
          
          echo "END Upgrade"
          
      - name: Clone repo
        run: |
          echo "START Clone"
          
          git clone https://github.com/samukhin/enlightenment17
          cd enlightenment17
          ls -la
          
          echo "END Clone"
          
      - name: Wget components
        run: |
          set -x
          echo "START wget"
          
          wget http://distfiles.macports.org/eina/eina-1.7.10.tar.bz2
          wget http://distfiles.macports.org/eet/eet-1.7.10.tar.bz2
          wget http://distfiles.macports.org/evas/evas-1.7.10.tar.bz2
          wget http://distfiles.macports.org/ecore/ecore-1.7.10.tar.bz2
          wget http://distfiles.macports.org/embryo/embryo-1.7.10.tar.bz2
          wget https://distro.ibiblio.org/slitaz/sources/packages-cooking/e/eio-1.7.10.tar.bz2
          wget http://distfiles.macports.org/edje/edje-1.7.10.tar.bz2
          wget https://distro.ibiblio.org/slitaz/sources/packages-cooking/e/emotion-1.7.10.tar.bz2
          wget http://distfiles.macports.org/e_dbus/e_dbus-1.7.10.tar.bz2
          wget https://distro.ibiblio.org/slitaz/sources/packages-cooking/e/ethumb-1.7.10.tar.bz2
          wget http://distfiles.macports.org/efreet/efreet-1.7.10.tar.bz2
          wget https://distro.ibiblio.org/slitaz/sources/packages-cooking/e/elementary-1.7.10.tar.bz2
          wget https://github.com/borisfaure/terminology/archive/refs/tags/v0.1.0.zip
          wget https://github.com/borisfaure/terminology/archive/refs/tags/v0.2.0.zip
          wget https://ppa.launchpadcontent.net/efl/trunk/ubuntu/pool/main/t/terminology/terminology_0.3.0-1ppa2~saucy.tar.gz
          wget https://distro.ibiblio.org/slitaz/sources/packages-cooking/e/eeze-1.7.10.tar.bz2
          wget https://distro.ibiblio.org/slitaz/sources/packages-cooking/e/evas_generic_loaders-1.7.10.tar.bz2
          wget https://download.enlightenment.org/rel/libs/evas_generic_loaders/evas_generic_loaders-1.17.0.tar.xz
          wget https://distro.ibiblio.org/slitaz/sources/packages-cooking/e/enlightenment-0.17.6.tar.bz2

          tar xf eina-1.7.10.tar.bz2
          tar xf eet-1.7.10.tar.bz2
          tar xf evas-1.7.10.tar.bz2
          tar xf ecore-1.7.10.tar.bz2
          tar xf embryo-1.7.10.tar.bz2
          tar xf eio-1.7.10.tar.bz2
          tar xf edje-1.7.10.tar.bz2
          tar xf emotion-1.7.10.tar.bz2
          tar xf e_dbus-1.7.10.tar.bz2
          tar xf ethumb-1.7.10.tar.bz2
          tar xf efreet-1.7.10.tar.bz2
          tar xf elementary-1.7.10.tar.bz2
          unzip v0.1.0.zip
          unzip v0.2.0.zip
          tar xf terminology_0.3.0-1ppa2~saucy.tar.gz
          tar xf eeze-1.7.10.tar.bz2
          tar xf evas_generic_loaders-1.7.10.tar.bz2
          tar xf evas_generic_loaders-1.17.0.tar.xz
          tar xf enlightenment-0.17.6.tar.bz2

          cp -r enlightenment17/debian-eina eina-1.7.10/debian
          cp -r enlightenment17/debian-eet eet-1.7.10/debian
          cp -r enlightenment17/debian-evas evas-1.7.10/debian
          cp -r enlightenment17/debian-ecore ecore-1.7.10/debian
          cp -r enlightenment17/debian-embryo embryo-1.7.10/debian
          cp -r enlightenment17/debian-eio eio-1.7.10/debian
          cp -r enlightenment17/debian-edje edje-1.7.10/debian
          cp -r enlightenment17/debian-emotion emotion-1.7.10/debian
          cp -r enlightenment17/debian-edbus e_dbus-1.7.10/debian
          cp -r enlightenment17/debian-ethumb ethumb-1.7.10/debian
          cp -r enlightenment17/debian-eina eina-1.7.10/debian
          cp -r enlightenment17/debian-efreet efreet-1.7.10/debian
          cp -r enlightenment17/debian-elementary elementary-1.7.10/debian
          
          cp -r enlightenment17/debian-terminology terminology-0.1.0/debian
          
          cp -r enlightenment17/debian-terminology terminology-0.2.0/debian
          cd terminology-0.2.0
          git apply ../enlightenment17/terminology-patches/terminology020_0.patch
          git apply ../enlightenment17/terminology-patches/terminology020_1.patch
          cd ../
          
          rm -rf terminology-0.3.0/debian
          cp -r enlightenment17/debian-terminology terminology-0.3.0/debian
          
          cp -r enlightenment17/debian-eeze eeze-1.7.10/debian
          cp -r enlightenment17/debian-enlightenment176 enlightenment-0.17.6/debian

          ls -la
        
          echo "END wget"

      - name: Build eina
        run: |
          set -x
          echo "START build"
          
          cd eina-1.7.10
          dpkg-buildpackage -us -uc -b
          apt-get install -y ../*.deb
          
          echo "END build"
          
      - name: Build eet
        run: |
          set -x
          echo "START build"

          sudo apt-get install -y libjpeg-turbo8-dev
          
          cd eet-1.7.10
          dpkg-buildpackage -us -uc -b
          apt-get install -y ../*.deb
          
          echo "END build"
          
      - name: Build evas
        run: |
          set -x
          echo "START build"
          
          cd evas-1.7.10
          dpkg-buildpackage -us -uc -b
          apt-get install -y ../*.deb
          
          echo "END build"     

      - name: Build ecore
        run: |
          set -x
          echo "START build"
          
          cd ecore-1.7.10
          dpkg-buildpackage -us -uc -b
          apt-get install -y ../*.deb
          
          echo "END build"   

      - name: Build embryo
        run: |
          set -x
          echo "START build"
          
          cd embryo-1.7.10
          dpkg-buildpackage -us -uc -b
          apt-get install -y ../*.deb
          
          echo "END build"

      - name: Build eio
        run: |
          set -x
          echo "START build"
          
          cd eio-1.7.10
          dpkg-buildpackage -us -uc -b
          apt-get install -y ../*.deb
          
          echo "END build"

      - name: Build edje
        run: |
          set -x
          echo "START build"
          
          cd edje-1.7.10
          dpkg-buildpackage -us -uc -b
          apt-get install -y ../*.deb
          
          echo "END build"

      - name: Build emotion
        run: |
          set -x
          echo "START build"
          
          cd emotion-1.7.10
          dpkg-buildpackage -us -uc -b
          apt-get install -y ../*.deb
          
          echo "END build"

      - name: Build edbus
        run: |
          set -x
          echo "START build"
          
          cd e_dbus-1.7.10
          dpkg-buildpackage -us -uc -b
          apt-get install -y ../*.deb
          
          echo "END build"

      - name: Build ethumb
        run: |
          set -x
          echo "START build"
          
          cd ethumb-1.7.10
          dpkg-buildpackage -us -uc -b
          apt-get install -y ../*.deb
          
          echo "END build"

      - name: Build efreet
        run: |
          set -x
          echo "START build"
          
          cd efreet-1.7.10
          dpkg-buildpackage -us -uc -b
          apt-get install -y ../*.deb
          
          echo "END build"

      - name: Build elementary
        run: |
          set -x
          echo "START build"
          
          cd elementary-1.7.10
          dpkg-buildpackage -us -uc -b
          apt-get install -y ../*.deb
          
          echo "END build"

      - name: Build terminology
        run: |
          set -x
          echo "START build"
          
          cd terminology-0.2.0
          dpkg-buildpackage -us -uc -b
          apt-get install -y ../*.deb
          
          echo "END build"

      - name: Build eeze
        run: |
          set -x
          echo "START build"
          
          cd eeze-1.7.10
          dpkg-buildpackage -us -uc -b
          apt-get install -y ../*.deb
          
          echo "END build"

      - name: Build evas-generic-loaders
        run: |
          set -x
          echo "START build"
          
          cd evas_generic_loaders-1.7.10
          dpkg-buildpackage -us -uc -b
          apt-get install -y ../*.deb
          
          echo "END build"

      - name: Build e17
        run: |
          set -x
          echo "START build"
          
          cd enlightenment-0.17.6
          dpkg-buildpackage -us -uc -b
          apt-get install -y ../*.deb
          
          echo "END build"
          
