# This is a basic workflow to help you get started with Actions

name: CI
on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Build
        run: |
          echo "START BUILD"

          apt update && apt upgrade -y
          apt install -y git
          git clone https://github.com/samukhin/enlightenment17
          cd enlightenment17
          ls -la
          
          echo "END BUILD"
          
