# This is a basic workflow to help you get started with Actions

name: CI
on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Upgrade apt and install git
        run: |
          echo "START Upgrade"

          sudo apt update && sudo apt upgrade -y
          sudo apt install -y git
          apt-mark showmanual
          
          echo "END Upgrade"
          
      - name: Clone repo
        run: |
          echo "START Clone"
          
          git clone https://github.com/samukhin/enlightenment17
          cd enlightenment17
          ls -la
          
          echo "END Clone"
          
      - name: Check repo
        run: |
          set -x
          echo "START Check"
          
          pwd
          ls -la
          
          echo "END Check"
