# This is a basic workflow to help you get started with Actions

name: CI
on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Build
        run: |
          echo "START BUILD"
          echo "END BUILD"
          
